

<div class="row">
  <div class="col-md-4">
    <h2>Best beers</h2>
<%= render 'list', best: @top_beers %>
    </div>
  <div class="col-md-4">
    <h2>Best breweries</h2>
<%= render 'list', best: @top_breweries %>
</div>
  <div class="col-md-4">
    <h2>Best styles</h2>
<%= render 'list', best: @top_styles %>
</div>
  </div>

<h2>Most active users</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>User</th>
    <th># of ratings</th>
    <th>Favorite style</th>
    <th>Favorite brewery</th>
    <th>Favorite beer</th>
  </tr>
  </thead>

  <tbody>
  <% @most_active_users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.ratings.count%></td>
    <td><%= user.favorite_style.nil? ? "None" : (link_to user.favorite_style.name, user.favorite_style)%></td>
    <td><%= user.favorite_brewery.nil? ? "None" : (link_to user.favorite_brewery.name, user.favorite_brewery)%></td>
    <td><%= user.favorite_beer.nil? ? "None" : (link_to user.favorite_beer.name, user.favorite_beer)%></td>
  </tr>
      <%end%>
  </tbody>
      </table>

<h2>Recent ratings</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Rating</th>
    <th>Beer</th>
    <th>Rater</th>
    <th>Rated at</th>
  </tr>
  </thead>

  <tbody>
  <% @ratings.recent.each do |rating| %>
      <tr>
        <td><%= round rating.score %></td>
        <td><%= rating.beer%></td>
        <td><%= link_to rating.user.username, rating.user%></td>
        <td><%= rating.created_at%></td>
      </tr>
  <% end %>
  </tbody>
  </table>
<p>Number of ratings: <%= @ratings.count %></p>

<%= link_to 'New Rating', new_rating_path, class:"btn btn-primary" %>